@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sixtyfour', sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, rgb(0, 153, 255), #fcb565);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.poke-img {
    inline-size: 25%;
    position: absolute;
    bottom: 50%;
    left: 40%;
}

.poke-data {
    position: absolute;
    font-weight: 500;
    font-size: 15px;
    top: 56%;
    right: 15vh;
    font-size: clamp(8px, 1vw, 15px);
}

.poke-number {
    color: crimson;
}

.poke-name {
    text-transform: uppercase;
}

.form {
    position: absolute;
    width: 70%;
    top: 65%;
    left: 10.5%;
}

.input-search {
    width: 100%;
    padding: 5%;
    outline: none;
    border-radius: 5px;
    font-size: clamp(8px, 1vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

/* buttons */

.buttons {
    position: absolute;
    bottom: 22%;
    left: 26%;
    width: 50%;
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: clamp(8px, 1vw, 5%);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
    cursor: pointer;
}

.button:active {
    background-color: #888;
    box-shadow: inset -4px 4px 0 #333;
    font-size: 0.4rem;
}